@font-face {
    font-family: 'MTNBrighterSan';
    src: url('../assets/fonts/MTNBrighterSans-Bold.ttf');
    src: url('../assets/fonts/MTNBrighterSans-BoldItalic.ttf');
    src: url('../assets/fonts/MTNBrighterSans-ExtraBoldItalic.ttf');
    font-weight: 400;
    font-style: normal;
}